@model IEnumerable<ManttoMVCCore.Models.ViewModel.SoporteVM>

@{
    ViewData["Title"] = "Index Soporte";
}

<div class="form-group">
    @using (Html.BeginForm("Nuevo", "Soporte", FormMethod.Get))
    {
        <button type="submit" class="btn btn-primary">Nueva Soporte</button>
    }
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-example">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Solicita</th>
                <th scope="col">Solicitud</th>
                @*<th scope="col">Diagnóstico</th>*@
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var objeto in Model)
            {
                <tr>
                    <th scope="row">@objeto.id</th>
                    <td>@objeto.fechaSolicitud</td>
                    <td>@objeto.resguardante</td>
                    <td>@objeto.problema</td>
                    @*<td>@objeto.diagnostico</td>*@
                    <td>
                        <p>
                            @Html.ActionLink("Editar", "Editar", new { p_Id = objeto.id }, htmlAttributes: new { @class = "btn btn-block btn-outline btn-primary btn-xs" })
                        </p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,

                "order": [[0, "desc"]],

                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });
        });

    </script>
}
